*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  background: black;
  overflow-x: hidden;
}

.center {
  max-width: 1980px;
  margin: 0 auto;
  padding: 0 2%;
}

.clear {clear: both;}

header{
  background: black;
  padding: 12px 0;
}

/* MENU-HEADER */
.header-left{
  float: left;
}

.header-left img{
  max-width: 120px;
}

.menu-header {
  position: relative;
  top: -25px;
  display: inline-block;
  margin-left: 30px;
}

.menu-header li {
  display: inline-block;
  margin-left: 15px;
}

.menu-header a{
  color: white;
  text-decoration: none;
}

/*  */

.header-right {
  float: right;
  margin-top: 20px;
}

.header-right  i{
  margin: 0 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.search,
.notifications {
  display: inline-block;
}

.notifications {
  position: relative;
}

.circle-notifications {
  position: absolute;
  right: 0;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #e50914;
  text-align: center;
  vertical-align: 20px;
}

.circle-notifications span{
  font-size: 12px;
  color: white;
}

.header-right  a{
  color: white;
  text-decoration: none;
}


/* DESTAQUE */
section.destaque {
  background-image: url('../images/banner_destaque.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  position: relative;
  z-index: 1;
  overflow-y: hidden;
  overflow-x: hidden;

}

#video-destaque {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.overlay {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.texto-destaque{
  color: white;
  z-index: 3;
  position: relative;
  padding-top: 250px;
  margin-left: 4%;
}

.texto-destaque h2{
  color: #b10f17;
  font-size: 200px;
  text-transform: uppercase;
  font-weight: bold;
}

.texto-destaque h3{
  margin: 20px 0;
  font-size: 30px;
}

.texto-destaque p{
  font-size: 20px;
} 

.texto-destaque a{
  background-color: rgba(100,100,100,0.3);
  color: white;
  text-decoration: none;
  padding: 8px 40px;
  font-size: 23px;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
}

.texto-destaque a:hover{
  background: white;
  color: black;
}

section.vitrine .vitrine-flex{
	width: 96%;
	margin-left: 4%;
	position: relative;
	z-index: 4;
}


.vitrine-single-banner{
	width: 100%;
	padding-top: calc(16.6% / 2);
	float: left;
	position: relative;
}

.vitrine-wraper{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.vitrine-wraper:hover{
	transition: 1s;
	transform:scale(1.2,1.2);
}

@media screen and (max-width: 768px) {
  .menu-header{display: none;}

}
